.archive li {
  font-size: 1.1em;
  list-style: none;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 .2em;
}

.hidden {
  display: none;
}

.more {
  margin: 2em 0 1em;
}

.more a {
  border-radius: 2px;
  border: 1.5px solid #68f;
  padding: .4em .8em;
  transition: .2s;
}

.more a:hover {
  color: #fff;
  background: #68f;
  text-decoration: inherit;
}

/***** custom *****/
.fontawesome a {
  text-decoration: none;
}

.post-meta {
  color: #8e8e91;
}

.comments-item {
  margin-top: 10%;
}

.foot {
  font-family: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  margin: 1%;
  color: #8e8e91;
  text-align: center;
}
