@import url(fonts.css);

@media (prefers-color-scheme: light) {
  html {
    background: #ffffff;
    color: #1c1d22;
  }

  article a {
    color: #0000EE;
  }

  .foot a:hover {
    text-decoration: underline;
    color: #0000EE;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background: #1c1d22;
    color: #ffffff;
  }

  article a {
    color: #58A6FF;
  }

  .foot a:hover {
    text-decoration: underline;
    color: #58A6FF;
  }
}

/* custom variable */
:root {
  --pt-sans-font: "PT Sans", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  --normal-font: Georgia, "Microsoft YaHei", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif;
  --motto-font: "Motto";
}

html {
  font-size: 16px;
  font-size: calc(0.8rem + 0.3vw);
}

body {
  font-family: var(--normal-font);
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

b, strong, th {
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

header time {
  color: #8e8e91;
}

hr {
  border: 1px solid rgba(142, 142, 145, 0.3);
  margin: 2em 0;
}

article:not(:last-child) {
  border-bottom: 1px solid rgba(142, 142, 145, 0.12);
}

blockquote {
  background: rgba(142, 142, 145, 0.06);
  border-left: 3px solid rgba(142, 142, 145, 0.9);
  padding: 1px 1.5em;
  /* opacity: .75; */
}

blockquote, figure {
  margin: 1em 0;
}

img, li {
  margin: .5em 0;
}

img {
  border-radius: 5px;
  max-width: 100%;
  height: auto;
  /* center horizontally */
  margin-left: auto; 
  margin-right: auto;
  display: block;
}

table {
  width: 100%;
  border-spacing: 1px;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12) inset;
}

th, td {
  padding: .5em 1em;
  box-shadow: 0 0 0 1px rgba(142, 142, 145, 0.12);
}

tr:hover, tr:nth-child(odd) td {
  background: rgba(142, 142, 145, 0.04);
}

pre {
  background: rgba(142, 142, 145, 0.12);
  border-radius: 2px;
  font-size: .8em;
  /* font-family: 'Courier New', Courier, monospace; */
  margin: 1.5em 0;
  padding: .8em 1.2em;
  overflow-x: auto;
}

:not(pre) > code {
  font-size: .9em;
  background: rgba(142, 142, 145, 0.15);
  /* opacity: .7; */
  border-radius: 2px;
  margin: 0 .1em;
  padding: .2em .4em;
}


/* context start */
body > header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 .6em rgba(28, 29, 34, 0.05);
  border-bottom: 1px solid rgba(142, 142, 145, 0.16);
}

body > header > a {
  font-size: 1.3em;
}

article header {
  margin-bottom: 1.5em;
}

article header h1 {
  font-size: 1.8em;
  margin: .5em .5em;
}

article h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef;
}

nav {
  margin: .5em -.8em;
}

nav a {
  margin: .5em .8em;
}

footer hr {
  width: 45%;
  border-style: dashed;
  margin-bottom: 1em;
}

body > header, body > article, body > footer {
  padding: 1.5em;
}

@media (min-width: 32em) {
  body > header, body > article, body > footer {
    padding: 1.75em calc(38% - 12em);
  }
}

/* ----------------------------------------------- */

.archive li {
  font-size: 1.1em;
  list-style: none;
}

.archive time {
  display: inline-block;
  min-width: 10ch;
  margin: 0 .2em;
}

.hidden {
  display: none;
}

.more {
  margin: 2em 0 1em;
}

.more a {
  border-radius: 2px;
  border: 1.5px solid #68f;
  padding: .4em .8em;
  transition: .2s;
}

.more a:hover {
  color: #fff;
  background: #68f;
  text-decoration: inherit;
}

/***** custom *****/
.fontawesome a {
  text-decoration: none;
}

.post-meta {
  color: #8e8e91;
}

.comments-item {
  margin-top: 10%;
}

.foot {
  margin: 1%;
  color: #8e8e91;
  text-align: center;
}

